# Ignore database and zipped files
backend/cpad.sqlite
backend/zipped_shapefiles/
backend/bundled_zips/

# Ignore virtual environments
backend/venv/

# Ignore environment variables
backend/.env
frontend/.env

# Node modules and build files
frontend/node_modules/
dist/